<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <connectionStrings>
    <add name="MicroCreditDb"
         connectionString="Data Source=192.185.11.98;Initial Catalog=dinspire_navya;User ID=dinspire_sa;Password=0rggP!520;Connect Timeout=30;Encrypt=False;Trust Server Certificate=False;" />
  </connectionStrings>

  <appSettings>
    <add key="ImportUser.Email"    value="importuser@navyafinservices.com" />
    <add key="ImportUser.Password" value="N@VY@$y$t3m001" />
    <add key="OrgId"               value="1" />
    <add key="Import.BranchName"    value="NMCS Branch" />
    <add key="Import.ExcelFile"     value="/Users/sridharpettela/Downloads/NMCS 22052026.xlsx" />
    <add key="Import.ExcelPassword" value="NM1711" />
  </appSettings>

</configuration>
