<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>

      <!-- Disable WebDAV (blocks PUT/DELETE) -->
      <modules>
        <remove name="WebDAVModule" />
      </modules>
      <handlers>
        <remove name="WebDAV" />
        <add name="aspNetCore"
             path="*"
             verb="*"
             modules="AspNetCoreModuleV2"
             resourceType="Unspecified" />
      </handlers>

      <!-- Allow HTTP verbs -->
      <security>
        <requestFiltering>
          <verbs>
            <add verb="PUT" allowed="true" />
            <add verb="DELETE" allowed="true" />
            <add verb="PATCH" allowed="true" />
          </verbs>
        </requestFiltering>
      </security>

      <!-- ASP.NET Core hosting -->
      <aspNetCore processPath="dotnet"
                  arguments=".\MicroCredit.Api.dll"
                  stdoutLogEnabled="false"
                  stdoutLogFile=".\logs\stdout"
                  hostingModel="inprocess" />

    </system.webServer>
  </location>
</configuration>
